# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List common libraries for  Data Science
* Table creation
* Arithmetic expressions evaluation
* Minutes to hours conversion

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include

1. Pandas
2. Numpy
3. ggplot2
4. sckit-learn

| Data Science Tools |
|--------------------|
| RStudio            |
| Apache Spark       |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200 // 60

3

## Author

Adama Boubacar Oumarou